/*---------- star rating ----------*/
.star-rating, .back-stars, .front-stars {
    display: flex;
  }
  
  .star-rating {
    align-items: center;
    font-size: 3em;
    justify-content: center;
    margin-top: 50px;
    height:50px;
    position:relative;
    width: 145px;
  }
  
  .back-stars {
    color: #bb5252;
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    text-shadow: 4px 4px 10px #843a3a;
  }
  
  .front-stars {
    color: #FFBC0B;
    position: absolute;
    left:0;
    top:0;
    overflow:hidden;
    bottom:0;
    text-shadow: 2px 2px 5px #d29b09;
    top: 0;
  }